body {
  text-align: center;
  justify-content: center;
}

html {
  background-image: linear-gradient( to right,
    rgb(0, 247, 255), rgb(255, 255, 255),
    rgb(144, 0, 255)
   
  );
}
header {
  font-size: 2em;
  padding-top: 1em;
}
p {
  padding-bottom: -2.5em;
  font-size: 1.5em;
}
canvas {
  box-shadow: 1em 1em 1em red, -1em -1em 1em red;
}
